.home-page {
  height: 100%;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
}

.home-page .button {
  margin-top: 16px;
  margin-bottom: 16px;
}

/* Desktop */
@media only screen and (min-width: 750px) {
  .home-page .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 16px;
  }
}

