.track-page {
    background-color: whitesmoke;
    background: url("../../assets/images/home-image.jpg") center;
    background-size: cover;
    height: 680px;
    text-align: center; 
    display: flex;
    flex-direction: column;
}

.track-page .button {
    height: 5%;
    font-size: 15px;
    margin: auto;
}

/* Desktop */
@media only screen and (min-width: 750px) {
    track-page {
        height: 1080px; 
    }
}