.card {
  user-select: none;
  cursor: default;
  width: 300px;
  border: 2px solid gray;
  padding: 50px;
  margin: 20px;
}

@media only screen and (min-width: 900px) {
  .card .meta-data {
    padding: 0;
  }
}
